.ChatApp {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .ChatApp > .app-content {
    max-width: 550px;
    width: 550px;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 13px 0px #d9d9d9, 0px 0px 33px -2px #00000018, 0px 0px 283px -5px #00000025; }
    .ChatApp > .app-content.show-app-toolbar > .app-toolbar {
      transform: translateY(0px); }
    .ChatApp > .app-content > .app-toolbar {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 45;
      width: 100%;
      height: 52px;
      box-shadow: 0px 0px 5px -1px #d9d9d9;
      display: flex;
      align-items: center;
      transform: translateY(-52px);
      transition: 0.19s all; }
      .ChatApp > .app-content > .app-toolbar > .app-title {
        margin: 0 7px;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: -0.07em; }
        .ChatApp > .app-content > .app-toolbar > .app-title > span {
          position: relative;
          color: #ffffff;
          font-size: 11px;
          font-weight: 700;
          letter-spacing: 0.03em;
          top: -7px;
          background-color: #000000;
          border-radius: 3px;
          padding: 1px 3px;
          left: 3px; }
      .ChatApp > .app-content > .app-toolbar > .logo {
        margin-left: 21px; }
        .ChatApp > .app-content > .app-toolbar > .logo > img {
          width: 32px;
          height: auto; }
    @media screen and (max-width: 960px) {
      .ChatApp > .app-content {
        width: 100%; } }
    .ChatApp > .app-content > .chat-container {
      flex-grow: 1;
      margin-top: 52px;
      overflow-y: auto; }
      .ChatApp > .app-content > .chat-container.adjust-to-header {
        margin-top: 0px; }
      .ChatApp > .app-content > .chat-container::-webkit-scrollbar {
        width: 5px; }
      .ChatApp > .app-content > .chat-container::-webkit-scrollbar-track {
        background-color: transparent; }
      .ChatApp > .app-content > .chat-container::-webkit-scrollbar-thumb {
        background-color: #66666656;
        border-radius: 5px; }
      .ChatApp > .app-content > .chat-container::-webkit-scrollbar-thumb:hover {
        background-color: #666; }
    .ChatApp > .app-content > .chat-footer {
      height: 42px;
      min-height: 42px;
      display: flex;
      align-items: center;
      box-shadow: 0px 1px 0px 2px #d9d9d9;
      border-top: #d9d9d9;
      padding: 1px 0px 0px 20px;
      z-index: 6;
      position: relative; }
      .ChatApp > .app-content > .chat-footer > .text-input {
        border: none;
        outline: none;
        border: none;
        height: 100%;
        width: calc(100% - 80px);
        overflow: hidden;
        font-size: 16px;
        color: #000000; }
      .ChatApp > .app-content > .chat-footer > .icon-button {
        position: absolute;
        right: 20px;
        transition: 0.33s all; }
      .ChatApp > .app-content > .chat-footer > .voice-said {
        position: absolute;
        top: -42px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .ChatApp > .app-content > .chat-footer > .voice-said > ._text {
          font-weight: bold;
          font-size: 12px;
          background-color: #ffffff;
          padding: 7px 13px;
          border: 1px solid #d9d9d9;
          border-radius: 35px; }
      .ChatApp > .app-content > .chat-footer.is-suggestion {
        border-top: transparent;
        box-shadow: none; }
      .ChatApp > .app-content > .chat-footer.voice-listening > .text-input {
        opacity: 0;
        pointer-events: none; }
      .ChatApp > .app-content > .chat-footer.voice-listening > .icon-button {
        transform: translateX(-50%);
        left: 50%;
        background-color: transparent;
        box-shadow: 0px 0px 0px 3px rgba(229, 93, 97, 0.45); }
        .ChatApp > .app-content > .chat-footer.voice-listening > .icon-button:after {
          content: '';
          position: absolute;
          z-index: 4;
          left: 0px;
          top: 0px;
          width: 100%;
          height: 100%;
          border-radius: 50em;
          animation: 1.145s voiceBubble infinite linear;
          animation-fill-mode: forwards; }
